@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 34, 34);
    font-family: 'Unbounded', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.btn {
    background-color: rgb(153, 51, 51);
    border-radius: 90% 10% 90% 10% / 10% 90% 10% 90% ;
    border: none;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.4rem;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 15px 5px #75000075; 
    box-shadow: 5px 5px 15px 5px #75000075;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}